<% include partials/header%>
<h1>Login</h1>

<form>
  <div class="form-group">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
  </div>
</form>


<% include partials/footer%>
